<div class="signup-wrapper">
  <div class="box">
    <div class="signup-content">
      <h2>重发确认邮件</h2>
      <hr/>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'confirmation-form' }) do |f| %>
      <% devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email, class: 'sr-only' %>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-at"></i></div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: '邮箱地址',
                            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

      <div class="actions form-group">
        <%= f.submit "重新发送账号确认邮件", class: 'btn btn-primary btn-block' %>
      </div>

      <div class="field form-group links-group">
        <div class="links">
          <%= render "users/shared/links" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>