<%= simple_nested_form_for(@good, url: @good.new_record? ? goods_path : good_path(@good), html: { class: 'form-horizontal' }) do |form| %>
  <%# flash[:errors] = @good.errors.full_messages if @good.errors.any? %>

  <%= form.input :uid, disabled: true %>
  <%= form.association :business, prompt: '请选择公司' %>
  <%= form.input :brand_name, disabled: true %>
  <%= form.input :name, required: true, placeholder: '请输入商品名称' %>
  <%= form.input :code, placeholder: '请输入商品编码' %>
  <%= form.input :title, placeholder: '请输入推荐标题' %>
  <%= form.input :logo, placeholder: '请输入商品图片' %>
  <%= form.input :thum_logo, placeholder: '请输入商品缩略图' %>
  <%= form.input :stock_num, as: :integer, placeholder: '请输入库存数量' %>
  <%= form.input :price, as: :decimal, placeholder: '请输入价格' %>
  <%= form.input :market_price, as: :decimal, placeholder: '请输入商城价' %>
  <%= form.input :whole_price, as: :decimal, placeholder: '请输入分享价' %>
  <%= form.input :whole_num, as: :integer, placeholder: '请输入分享次数(即享受分享价的条件)' %>
  <%= form.input :share_tips, placeholder: '请输入分享提示' %>
  <%= form.input :share_times, as: :integer, placeholder: '请输入已分享次数' %>
  <%= form.input :share_amount, as: :integer, placeholder: '请输入已分享次数合计' %>
  <%= form.input :min_buy_num, as: :integer, placeholder: '请输入最少购买数' %>
  <%= form.input :freight, as: :decimal, placeholder: '请输入运费金额' %>
  <%= form.input :free_ship_num, as: :integer, placeholder: '请输入免运费件数' %>
  <%= form.input :sale_count, as: :integer, placeholder: '请输入已售件数合计' %>
  <%= form.input :source_flag, as: :integer, placeholder: '请输入 Source Flag(可能是推荐\首页广告\好商品的标记)' %>
  <%= form.input :evaluate_count, as: :integer, placeholder: '请输入评估值 Evaluate Count' %>
  <%= form.input :status, as: :integer, placeholder: '请输入状态' %>



  <% if @good.skus.present? %>
  <div class="form-group">
    <%= form.label :skus, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <dl class="dl-horizontal">
        <% @good.skus.each do |gs| %>
        <dt><%= gs.name %></dt>
        <dd><%= gs.name %></dd>
        <% end %>
      </dl>
    </div>
  </div>
  <% end %>

  <div class="form-group good-skus">
      <label class="col-sm-2 control-label">
        <%= form.link_to_add '添加库存单位', :skus, data: { target: '#goodSkus' }, class: 'btn btn-xs btn-info pull-right skus-btn' %>
      </label>
      <div class="col-sm-10" id="goodSkus">
        <%= form.fields_for :skus, wrapper: false do |good_sku| %>
          <table class='fields' style='width: 100%;'>
            <tr>
              <th>分类</th>
              <td><%#= good_sku.select :sku_category, Sku.base.collect { |s| [s.name, s.id] }, {}, class: 'form-control', placeholder: '请输入属性名称', onchange: 'associationSku(event)' %></td>
              <th>价格</th>
              <td><%= good_sku.number_field :price, class: 'form-control', placeholder: '请输入对应价格' %></td>
              <th>库存</th>
              <td><%= good_sku.number_field :stock_num, class: 'form-control',  placeholder: '请输入库存量' %></td>
              <th rowspan='2'><%= good_sku.link_to_remove '删除', class: 'btn btn-info' %></th>
            </tr>

            <tr>
              <th>单位</th>
              <td><%#= good_sku.select :id, Sku.normal.collect { |s| [s.name, s.id] }, {}, class: 'form-control good-sku-normal', placeholder: '请输入属性名称' %></td>
              <th>已售</th>
              <td><%= good_sku.number_field :sale_count, class: 'form-control', placeholder: '请输入已售' %></td>
              <th>警戒</th>
              <td><%= good_sku.number_field :stock_num_warn, class: 'form-control', placeholder: '请输入库存警戒' %></td>
            </tr>
          </table>
          
        <% end %>
      </div>
  </div>

  <%= form.input :detail_info, as: :text, input_html: { rows: 40 } %>

  <div class="actions">
    <%= form.submit class: 'btn btn-block btn-info' %>
  </div>
<% end %>

<script>
$('#good_detail_info').wysihtml5({locale: 'zh-CN'});

// 商品属性级联操作
function associationSku(e){
  let target = e.target;
  let baseSkuId = target.value;
  let normal = $(target).parents('.fields').find('.good-sku-normal').first();
  $.ajax({
    url: '/skus',
    type: 'GET',
    dataType: 'json',
    data: {
      base_id: baseSkuId
    },
    success: function(data, status, xhr) {
      let options = '';
      if (data.length === 0) {
        options = "<option value=''>无</option>";
      } else {
        data.forEach(function(item, index) {
          options += "<option value='" + item.id + "'>" + item.name + "</option>";
        });
      }
      normal.html(options);
    }
  })
}

$(function(){
  $('.select2').select2({
    ajax: {
      url: '/businesses',
      method: 'GET',
      delay: 1000,  // wait 250 milliseconds before triggering the request
      dataType: 'json',
      data: function (params) {
        console.log('params = ', params);
        // Query parameters will be ?search=[term]&page=[page]
        return {
          q: params.term,
          page: params.page || 1
        };
      },
      processResults: function (data, params) {
        console.log('Ajax result = ', data);
        params.page = params.page || 1;
        return data;
        /**
        return {
          results: data.results,
          pagination: {
            more: (params.page * 30) < data.total
          }
        };
        **/
      },
      cache: true,
      placeholder: '',
      minimumInputLength: 1
    }
  });
});
</script>