<section class="content-header">
  <h1>商品推荐列表</h1>
  <div class="tools">
    <%= link_to "新建推荐", new_good_path, class: 'btn btn-sm btn-primary pull-right' %>
  </div>
</section>

<section class="content container-fluid">
  <table class="table table-bordered table-condensed table-striped">
    <thead align="center">
      <tr>
        <th>ID</th>
        <th>商品名称</th>
        <th>编码</th>
        <th>品牌</th>
        <th>公司名称</th>
        <th>广告</th>
        <th>推荐</th>
        <th>好商品</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @goods.each do |good| %>
      <tr>
        <td><%= good.id %></td>
        <td><%= good.name %></td>
        <td><%= good.code %></td>
        <td><%= good.brand_name %></td>
        <td><%= good.business.name %></td>
        <td><%= good.advert.present? ? '是' : '否' %></td>
        <td><%= good.recommend ? '是' : '否' %></td>
        <td><%= good.discover ? '是' : '否' %></td>
        <td>
          <%= link_to '详情', good %>
          <%= link_to "编辑", edit_good_path(good) %>
          <%= link_to "删除", good, method: :delete, data: { confirm: '确认删除?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

