<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview <%#= 'active' if controller_name == 'courses' %>">
        <a href="#">
          <i class="fa fa-book"></i>
          <span>商品管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<%= goods_path %>">商品列表</a>
          </li>
          <li>
            <a href="<%= adverts_path %>">首页广告</a>
          </li>
          <li>
            <a href="<%= discovers_path %>">发现好商品</a>
          </li>
          <li>
            <a href="<%= recommends_goods_path %>">商品推荐</a>
          </li>
        </ul>
      </li>

      <li class="treeview <%#= 'active' if controller_name == 'courses' %>">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>用户管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<%= users_path %>">管理员</a>
          </li>
          <li>
            <a href="<%= visitors_path %>">普通用户</a>
          </li>
        </ul>
      </li>

      <li class="<%= 'active' if controller_name == 'users' && action_name == 'profile' %>">
        <a href="<%= profile_user_path(current_user) %>">
          <i class="fa fa-gear"></i>
          <span>个人设置</span>
        </a>
      </li>

      <li class="treeview <%#= 'active' if controller_name == 'courses' %>">
        <a href="#">
          <i class="fa fa-cogs"></i>
          <span>其他管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="<%= categories_path %>">类型管理</a>
          </li>
          <li>
            <a href="<%= skus_path %>">库存单位</a>
          </li>
          <li>
            <a href="<%= visitors_path %>">普通用户</a>
          </li>
        </ul>
      </li>
      
    </ul>
  </section>
</aside>