<header class="main-header">

  <a href="#" class="logo">
    <span class="logo-mini"><b><%= t(:short_app_name) %></b></span>
    <span class="logo-lg"><%= t :app_name %></span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="dropdown course-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="我的课程">
            <i class="fa fa-book"></i>
            <span class="navbar-title">我的课程</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">已购课程</a>
            </li>
            <li>
              <a href="#">自主选课</a>
            </li>
            <li>
              <a href="#">已发布</a>
            </li>
            <li>
              <a href="#">草稿箱</a>
            </li>
          </ul>
        </li>

        <li class="dropdown attention-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="我的关注">
            <i class="fa fa-heart"></i>
            <span class="navbar-title">我的关注</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">关注的班级</a>
            </li>
            <li>
              <a href="#">关注的课程</a>
            </li>
            <li>
              <a href="#">关注的人</a>
            </li>
            <li>
              <a href="#">关注的素材</a>
            </li>
          </ul>
        </li>

        <li class="dropdown partner-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="支持合作">
            <i class="fa fa-question-circle"></i>
            <span class="navbar-title">支持合作</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">开班指南</a>
            </li>
            <li>
              <a href="#">工具介绍</a>
            </li>
            <li>
              <a href="#">客服运营</a>
            </li>
            <li>
              <a href="#">互助论坛</a>
            </li>
            <li>
              <a href="#">机构合作</a>
            </li>
          </ul>
        </li>

        <% if user_signed_in? %>

        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="通知">
            <i class="fa fa-bell"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">收到 <%= 4 %> 条信息</li>
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <%= image_tag 'user2-160x160.jpg', alt: 'User Image', class: 'img-circle' %>
                    </div>
                    <h4>
                      Support Team
                      <small>
                        <i class="fa fa-clock"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#">查看所有信息</a>
            </li>
          </ul>
        </li>

        <li class="dropdown user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="个人信息">
            <%= image_tag current_user.avatar.url(:thumb), alt: 'User Image', class: 'user-image' %>
            <!-- <span class="hidden-xs"><%= current_user.email %></span> -->
          </a>
          <ul class="dropdown-menu">
            <li>
              <strong class='nav-header-current-user'><%= current_user.email %></strong>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a href="#" class="btn btn-default btn-flat">我的任务</a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-flat">收藏夹</a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-flat">我要推广</a>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a href="#" data-toggle="control-sidebar">系统设置</a>
            </li>
            <li>
              <%= link_to '个人设置', '#', class: 'btn btn-default btn-flat' %>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <%= link_to '退出', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
            </li>
          </ul>
        </li>

        <% else %>

        <li class="user login">
          <a href="<%= new_user_session_path %>" title="登录">
            <i class="fa fa-user"></i>
            <span class="navbar-title">登录</span>
          </a>
        </li>

        <% end %>
      </ul>
    </div>
  </nav>
</header>