<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['APP_NAME'] %></title>
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/aside' %>
      <%= render 'layouts/content' %>
      <footer class="main-footer">
        <%= render 'layouts/footer' %>
      </footer>
      <%= render 'layouts/control' %>
      <%= render 'layouts/message' %>
    </div>
  </body>
</html>
